/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
  /* Votre style personnalisé ici */
  color: #636363; /* Couleur rouge */
  font-size: 32px; /* Taille de police de 32 pixels */
  font-weight: bold; /* Police en gras */
  /* ... autres styles personnalisés ... */
}


.bd-callout {
  padding: 1.25rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  border: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout-ask {
  border-left-color: #707070
}

.bd-callout-answer {
  border-left-color: #00CED1
}

.link {
  color: #00CED1;
  text-decoration: none;
}
